<div class="p-3 m-3  border rounded">
  <h2>Connect 4</h2>
  <div id="connect4-canvas" #connect4Canvas></div>
  <button *ngIf="gameNotRunning()" (click)="startGame()" class="btn btn-success" [ngClass]="{'startButtonCol' : collapsed.isCollapsed, 'startButtonOpen' : !collapsed.isCollapsed}">Start</button>
  <div *ngIf="gameNotRunning() || gameEnded()" class="bg-info p-3 text-center rounded" [ngClass]="{'infoTextCol' : collapsed.isCollapsed, 'infoTextOpen' : !collapsed.isCollapsed}">
    <h5>You are playing against a AI, the AI is grey, you are blue. To set a stone click on the column you want to set on. Who starts is chosen randomly.</h5>
  </div>
  <div class="row" *ngIf="gameEnded()">
    <div class="col align-self-center">
      <h3>Result: {{p5.gameResult}}</h3>
      <h3>Score: {{p5.score}}</h3>
      <h3 *ngIf="api.isAuthenticated()">Your Highscore: {{p5.userHighscore}}</h3>
      <h3>Highscore: {{p5.allHighscore}}</h3>
    </div>
    <div class="col align-self-center">
      <div class="row justify-content-end pr-3">
        <button routerLink="/login" *ngIf="!api.isAuthenticated()" class="btn btn-warning">Please Login to save your score</button>
      </div>
    </div>
  </div>
</div>