#connect4-canvas {
    position: relative;
}

.startButton {
    position: absolute;
    left: 35%;
    top: 20%;
    width: 30%;
    height: 20%;
    font-size: 5vw;
}

.infoText {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    font-size: 2vw;
}