<div class="p-3 border-right border-left border-bottom rounded-bottom">
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmitClick()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" [class.is-invalid]="submitted && form.username.errors" placeholder="Type in Username" id="username" name="username" formControlName="username">
      <div class="invalid-feedback d-block" *ngIf="submitted && form.username.errors">
        <span *ngIf="form.username.errors.required">Please type in a Username!</span>
        <span *ngIf="form.username.errors.noSuchUser">Unknown Username!</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" [class.is-invalid]="submitted && form.password.errors" placeholder="Type in Password" id="password" name="password" formControlName="password">
      <div class="invalid-feedback d-block" *ngIf="submitted && form.password.errors">
        <span *ngIf="form.password.errors.required">Please type in a Password!</span>
        <span *ngIf="form.password.errors.invalidPW">Invalid Password!</span>
      </div>
    </div>
    <button class="btn btn-primary">Login</button>
  </form>
</div>
