<nav class="navbar sticky-top navbar-expand-md bg-dark navbar-dark">

  <span class="pr-3"><a routerLink="/dashboard"><img src="/assets/logo.svg"></a></span>

  <button class="navbar-toggler" type="button" (click)="collapsed.toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse w-100" [ngbCollapse]="collapsed.isCollapsed">
    <ul class="navbar-nav w-100">
      <li class="nav-item" [class.active]="location.path(false) === '/tictactoe'">
        <a class="nav-link" routerLink="/tictactoe">TicTacToe</a>
      </li>
      <li class="nav-item" [class.active]="location.path(false) === '/falling-blocks'">
        <a class="nav-link" routerLink="/falling-blocks">FallingBlocks</a>
      </li>
      <li class="nav-item" [class.active]="location.path(false) === '/flappy-bird'">
        <a class="nav-link" routerLink="/flappy-bird">FlappyBird</a>
      </li>
      <li class="nav-item" [class.active]="location.path(false) === '/4-gewinnt'">
        <a class="nav-link" routerLink="/connect-4">Connect4</a>
      </li>
    </ul>

    <ul class="nav navbar-nav w-100 justify-content-end">
      <li class="nav-item" [class.active]="location.path(false) === '/highscores'">
        <a class="nav-link" routerLink="/highscores">Highscores</a>
      </li>
      <li *ngIf="!auth.isAuthenticated()" class="nav-item" [class.active]="location.path(false) === '/login'">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="auth.isAuthenticated()" class="nav-item" [class.active]="location.path(false) === '/manage-account'">
        <a class="nav-link" routerLink="/manage-account">{{auth.getUsername()}}</a>
      </li>
    </ul>
  </div>
</nav>