<div class="border rounded m-3 p-3">
  <div class="row m-3">
    <img *ngIf="userInfo !== undefined" [src]="userInfo?.profilePicture" class="profilePicture rounded-circle">
    <div class="pl-0 pl-md-4 row align-items-center usernameDes">
      <div class="col">
        <h1>{{username}}</h1>
        <p style="font-size: 1.1rem;">{{userInfo?.description}}</p>
      </div>
    </div>
  </div>
  <div class="m-3">
    <h3>Highscores:</h3>
    <table class="table">
      <thead>
        <tr>
          <th style="border-top: none;" scope="col">Spiel</th>
          <th style="border-top: none;" scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let score of userInfo?.highscores">
          <td>{{score.gameName}}</td>
          <td>{{score.score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
