<div class="p-3 border-right border-left border-bottom rounded-bottom">
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmitClick()">
    <div class="form-group">
      <label for="username">Benutzername</label>
      <input type="text" class="form-control" placeholder="Benutzernamen eingeben" id="username" name="username" formControlName="username">
      <div class="invalid-feedback d-block" *ngIf="submitted && f.username.errors">
        <span *ngIf="f.username.errors.required">Bitte einen Benutzernamen eingeben!</span>
        <span *ngIf="f.username.errors.minlength">Der Benutzrname muss mindestens 3 Zeichen lang sein.</span>
        <span *ngIf="f.username.errors.isAvailable">Der Benutzrname ist nicht verfügbar!</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Passwort:</label>
      <input type="password" class="form-control" placeholder="Passwort eingeben" id="password" name="password" formControlName="password">
      <div class="invalid-feedback d-block" *ngIf="submitted && f.password.errors">
        <span *ngIf="f.password.errors.required">Bitte ein Passwort eingeben!</span>
      </div>
      <label class="mt-3" for="password1">Passwort Wiederholen:</label>
      <input type="password" class="form-control" placeholder="Passwort eingeben" id="password1" name="password1" formControlName="password1">
      <div class="invalid-feedback d-block" *ngIf="submitted && f.password1.errors">
        <span *ngIf="f.password1.errors.required">Bitte das Passwort erneut eingeben!</span>
        <span *ngIf="f.password1.errors.matchPassword">Die Passwörter sind nicht gleich!</span>
      </div>
    </div>
    <button class="btn btn-primary">Registrieren</button>
  </form>
</div>
