<div class="m-3 p-3 border rounded">
  <div class="container">
    <h1>Willkommen bei LioGames</h1>
    <p>einer ganz tollen Spielewebsite, besser als alles anderen!</p>

    <div class="pb-3 mt-3 row">
      <div class="col-6">
        <img src="/assets/ticTacToe.PNG" class="img-thumbnail">
      </div>
      <div class="col-6">
        <h3>TicTacToe</h3>
        <p>Dieses Spiel spielst du gegen eine Maschine Learning KI. Die KI ist ein Neuronales Netz, das mit Tensorflow trainiert wurde.</p>
      </div>
    </div>

    <div class="pb-3 mt-3 row">
      <div class="col-6">
        <img src="/assets/fallingBlocks.PNG" class="img-thumbnail">
      </div>
      <div class="col-6">
        <h3>FallingBlocks</h3>
        <p>Ein selbst entwickeltes Singerplayerspiel, bei dem du den herabfallenden Blöcken ausweichen musst. Mit der der Zeit werden diese immer schneller.</p>
      </div>
    </div>

    <div class="pb-3 mt-3 row">
      <div class="col-6">
        <img src="/assets/flappyBird.PNG" class="img-thumbnail">
      </div>
      <div class="col-6">
        <h3>Flappy Bird</h3>
        <p>Das Klassische Spiel Flappy Bird, welches jeder kennt.</p>
      </div>
    </div>

    <div class="pb-3 mt-3 row">
      <div class="col-6">
        <img src="/assets/connect4.PNG" class="img-thumbnail">
      </div>
      <div class="col-6">
        <h3>4 Gewinnt</h3>
        <p>Ein weiteres klassisches Spiel. Dieses spielst du aber gegen eine KI, die aufgrund der momentanen Situation entscheidet was sie tut. Sie berechnet dabei alle möglichen Züge voraus und versucht dann den besten auszuwählen. </p>
      </div>
    </div>
  </div>
</div>
