<div class="m-3 p-3 border rounded">
  <div class="container">
    <h1>Welcome to LioGames</h1>
    <p>to the best Gaming Website you have ever seen!</p>

    <div class="pb-3 mt-3 row">
      <div class="col-6">
        <img src="/assets/ticTacToe.PNG" class="img-thumbnail">
      </div>
      <div class="col-6">
        <h3>TicTacToe</h3>
        <p>You are playing against a Machine Learning AI. The AI is a Neural Network, which was trained with Tensorflow.</p>
      </div>
    </div>

    <div class="pb-3 mt-3 row">
      <div class="col-6">
        <img src="/assets/fallingBlocks.PNG" class="img-thumbnail">
      </div>
      <div class="col-6">
        <h3>FallingBlocks</h3>
        <p>A single-player Game developed by me. You have to dodge the falling Blocks. After every point you get, the Blocks are falling faster.</p>
      </div>
    </div>

    <div class="pb-3 mt-3 row">
      <div class="col-6">
        <img src="/assets/flappyBird.PNG" class="img-thumbnail">
      </div>
      <div class="col-6">
        <h3>Flappy Bird</h3>
        <p>The classic game Flappy Bird, everybody should know what it is.</p>
      </div>
    </div>

    <div class="pb-3 mt-3 row">
      <div class="col-6">
        <img src="/assets/connect4.PNG" class="img-thumbnail">
      </div>
      <div class="col-6">
        <h3>Connect 4</h3>
        <p>Another classic game. You are playing against a AI, which decides what to do based on the current position. It calculates all possible moves and tries to take the best one. To do so it uses the Minimax Algorithm.</p>
      </div>
    </div>
  </div>
</div>
