#ticTacToe-canvas {
    position: relative;
}

.startButton {
    position: absolute;
    left: 200px;
    top: 25%;
    width: 380px;
    height: 150px;
    font-size: 32pt;
}

.infoText {
    position: absolute;
    top: 50%;
    left: 150px;
    width: 480px;
}

@media screen and (max-width: 768px){
    .startButton {
        position: absolute;
        left: 27.5%;
        top: 22%;
        width: 45%;
        height: 20%;
        font-size: 32pt;
    }

    .infoText {
        position: absolute;
        top: 50%;
        left: 20%;
        width: 60%;
    }

}