.startButton {
    position: absolute;
    left: 140px;
    top: 30%;
    z-index: 1060;
    width: 400px;
    height: 140px;
    font-size: 32pt;
}

.infoText {
    position: absolute;
    top: 50%;
    left: 140px;
    z-index: 1060;
    width: 400px;
}