.startButton {
    position: absolute;
    left: 140px;
    top: 300px;
    z-index: 1060;
    width: 400px;
    height: 140px;
    font-size: 32pt;
}

.infoText {
    position: absolute;
    top: 500px;
    left: 140px;
    z-index: 1060;
    width: 400px;
}

#ticTacToe-canvas {
    height: 700px;
}